# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

build/
bin/
lib/
Debug/
PreRelease/
Profile/
Release/
ipch/
logs/
*.vcxproj.user
*.user
*.ncb
*.suo
*.sdf
*.opensdf
*.o
*.a
.deps
/*.exe
/*.dll
/*.pdb
/*.ilk